<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error - Roblox Player Status Checker</title>
  </head>
  <body>
    <h1>Error:</h1>
    <p><%= error.message %></p>
  </body>
</html>
